body {
  margin: 0;
}
input:focus-within {
  outline: none;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.p-0 {
  padding: 0;
}
.flex {
  display: flex;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-2 {
  gap: .5rem;
}
.text-center {
  text-align: center;
}
.rotate-180 {
  transform: rotate(180deg);
}

#app {
  box-sizing: border-box;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  padding: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  gap: 2rem;
  min-height: 100vh;
  align-items: flex-start;

  background: linear-gradient(
    135deg,
    rgba(65, 184, 131, 0.9),
    rgba(52, 73, 94, 0.9)
  );

  font-size: 1.5em;
}

@media screen and (max-width: 992px) {
  #app {
    flex-direction: column;
    align-items: center;
  }
}

button {
  display: block;
  padding: 1em;
  width: 100%;
  background-color: #41b883;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(black, 0.2);
  transition: background .3s;
}

button.active {
  background-color: #2a895e;
}

.content {
  display: flex;
}

.section {
  width: 100%;
  min-width: 300px;
  padding: 2em;
  position: relative;
  background: rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 600px) {
  .section {
    max-width: 15em;
  }
}

.header {
  color: #fff;
}

.section::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #35c3c1;
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.label {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex: none;
  background: #eee;
}

.input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
}

.buttons {
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin-top: 30px;
}

.profile {
  margin-top: 20px;
}

.icons-note {
  margin-top: 30px;
  font-size: 10px;
}

.like-btn {
  background: transparent;
    border: none;
    cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
}